html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 170px;
}
*{
    padding:0;
    margin:0;
}
 footer{
    position: absolute;
bottom: 0;
width: 100%;
height: 170px;
}

.Carousel_Image{
    width:100%;
    height:500px;
    fill:cover;
}
.Image_hw{
    height:360px;
    width:100%;
    object-fit: cover;
}